<%= form_tag sessions_path do %>
	<div class="field">
		<%= label_tag :username %>
		<%= text_field_tag :username %>
	</div>

	<div class="field">
		<%= label_tag :password %>
		<%= password_field_tag :password %>
	</div>

	<div class="field">
		<%= check_box_tag :remember_me %>
		<%= label_tag :remember_me %>
	</div>

	<div class="actions"><%= submit_tag %></div>
<% end %>
<h5>Forgot Password?</h5>
<%= link_to 'Forgot Password?', new_password_reset_path %>
<%= render 'forgot_password_form' %>