<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
		<div class="errors">
			<h2>Datos invalidos</h2>
			<ul>
				<% for msj in @user.errors.full_messages %>
					<li><%= msj %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :username %>
		<%= f.text_field :username %>
	</div>

	<div class="field">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>

	<div class="field">
		<%= f.label :pasaword %>
		<%= f.password_field :password %>
	</div>

	<div class="field">
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</div>

	<div class="actions"><%= f.submit %></div>
<% end %>