<!DOCTYPE html>
<html>
<head>
  <title>ResetpasswordSorcery</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
	<div class="login">
		<% if current_user %>
			<div>
				<%= link_to current_user.username, :logout %>
			</div>
		<% else %>
			<div>
				<%= link_to "login", "sessions/new" %>
			</div>
		<% end %>
	</div>
	<%= yield %>

</body>
</html>
